@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  background: #000;
}

.Component {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1260px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 840px) {
  html {
    font-size: 70%;
  }
}
.rounded-md {
  border-radius: 5px;
}
.editgradient {
  border-radius: 10px;
background: linear-gradient(135deg, #D9D9D9 0%, #9377E6 100%);
}
.deletegradient {
  border-radius: 10px;
  background: linear-gradient(135deg, #d9d9d9 0%, #ef4444 100%);
}
