@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  background: #000;
}

.Component {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1260px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 840px) {
  html {
    font-size: 70%;
  }
}

.rounded-md {
  border-radius: 5px;
}
.editgradient {
  border-radius: 10px;
  background: linear-gradient(135deg, #d9d9d9 0%, #9377e6 100%);
}
.deletegradient {
  border-radius: 10px;
  background: linear-gradient(135deg, #d9d9d9 0%, #ef4444 100%);
}
.viewgradient{
  border-radius: 10px;
  background: linear-gradient(135deg, #d9d9d9 0%, #8fef44 100%);
}
.animate-scale {
  animation: scale 0.4s ease-in-out;
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#8c7cfd, #bc89f1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#bc89f1, #8c7cfd);
}

input[type="radio"] {
  accent-color: #8c7cfd;
}
